<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% assets "all_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.0/jquery.js"></script>
    {% assets "all_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <div class="main">
        <div class="layui-row layui-col-space1">
            <div class="layui-col-sx3">1</div>
            <div class="layui-col-sx7">
                <div id="filetable" lay-filter="file"></div>
            </div>
        </div>
    </div>
    <div class="layui-form" id="fileform" style="display:none;">
        <div class="layui-row layui-col-space1">
            <div class="layui-col-sx4">
                <label for="file_name">文件名称</label>
                <input type="text" name="file_name" class="layui-input" placeholder="文件名称"/>
            </div>
            <div class="layui-col-sx4">
                <label for="file_type">文件类型</label>
                <select name="file_type" id="file_type">
                    <option value="">请选择</option>
                    <option value="1">png</option>
                    <option value="2">jpg</option>
                    <option value="1">gif</option>
                    <option value="1">doc</option>
                </select>
            </div>
        </div>
    </div>
    <script>
        table.render({
            elem:"#filetable",
            url:'/filesend',
            toolbar:"default",
            cols:[[
                {field:'',type:'checkbox'},
                {field:'id',title:'编号',width:67},
                {field:'file_name','title':'文件名称'},
                {field:'file_type',title:'文件类型'},
                {field:'file_size',title:'文件大小'},
                {field:'file_path',title:'文件路径'},
                {field:'remarks',title:'备注'},
                {field:'operate',title:'操作'}
            ]]
        });
        form.render();
        table.on('toolbar(file)',function(res){
            switch(res.event){
                case "add":
                    parent.fileform = $("#fileform").clone(true);
                    parent.fileform.addClass("fileform1");
                    parent.body.append(parent.fileform);
                    parent.pop.render({
                        type:1,
                        title:"新增",
                        area:["500","400"],
                        content:parent.fileform,
                        end:function(){
                            parent.fileform.remove();
                        }
                    })
                    break;
            }
        })
    </script>
</body>
</html>